a#nav-toggle-persistence * {
    transition-duration: 500ms;
}

a#nav-toggle-persistence > span {
    display: inline;
    position: relative;
    padding: 0;
    margin: 0;
}

#persistence-toggler {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 30px;
    top: 5px;
    left: 15px;
    border: 2px solid #ccc;
    border-radius: 9px;
    background-color: #0008; 
}

#persistence-toggler.persistence-off {
    background-color: #0008;
}

#persistence-toggler.persistence-on {
    border: 2px solid #0008;
    background-color: #fff;
}

#persistence-ball  {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #0008;
}

#persistence-toggler.persistence-off #persistence-ball {
    background-color: #ccc;
    left: -0.5px;
}

#persistence-toggler.persistence-on #persistence-ball {
    background-color: #aaf;
    box-shadow: 0 0 5px #fff;
    left: 12.5px;
}

nav#chatroom-nav {
    background-color: #000000a0;
    padding-left: 2px;
    padding-top: 10px;
    padding-right: 2px;
    height: 75vh;
    transition-duration: 250ms;
    overflow-y: auto;
    overflow-x: hidden;
}

nav#chatroom-nav:hover {
    background-color: #0906289c;
    transition-duration: 500ms;
}

nav#nav-menu-items {
    letter-spacing: 3px;
}

.nav-link.dropdown-toggle {
    letter-spacing: 2px;
}

button#show-create-room-modal-button {
    font-size: .75em;
    margin-bottom: 5px;
}

.room-button {
    left:10%;
    position: relative;
    background-color: #080808a0;
    color: gray;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #888888;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition-duration: 250ms;
}

.room-button.has-unread-messages {
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        border: 3px solid #080808;
    }
    50% {
        border: 3px solid rgb(255, 166, 0);
    }
    100% {
        border: 3px solid #080808;
    }
}

.room-button.full-room-minim {
    font-size: x-small;
}

.room-initial {
    text-transform: capitalize;
    position: relative;
    left: 0;
    top: -24px;
}

.room-initial.only-letter {
    left: 0;
}

.room-initial.second-letter {
    text-transform: lowercase;
    position: relative;
    left: 12px;
    top: -44px;
}

.room-icon {
    position: relative;
    top: -26px;
    left: 0;
    width: 100%;
}

.room-button.full-room-minim .room-initial {
    font-size: medium;
    top: -15px;
    left: 0;
}

.room-button.full-room-minim .room-initial.second-letter {
    font-size: small;
    top: -33px;
    left: 8px;
}

.room-button.full-room-minim .full-chatroom-name {
    top: 5px;
}

.room-button.full-room-minim .room-icon {
    top: -17px;
}

.full-chatroom-name {
    width: 0;
    left: 0;
    color: #080808;
    position: relative;
    visibility: hidden;
    text-overflow: ellipsis;
    top: 0;
}

.full-room-minim {
    font-size: x-small;
    top: 2px;
}

.room-button:hover {
    background-color: #484848;
    left: 0;
    width: 100%;
    color: white;
    border: 2px solid white;
    transition-duration: 500ms;
}

.room-button:hover .room-initial, .room-button:hover .room-initial.second-letter, .room-button:hover .room-icon {
    visibility: hidden;
}

.room-button:hover .full-chatroom-name {
    width: 100%;
    left: 0;
    color: white;
    visibility: visible;
    transition-duration: 1000ms;
}

.sidemenu-room-summary-label {
    margin-bottom: 0;
    color: dimgray;
}

.sidemenu-room-summary-text {
    margin-top: -3px;
    line-height: 1rem;
    font-size: small;
    font-weight: lighter;
    color: gainsboro;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul#chatroom-nav-list > li {
    padding-left: 4px;
    margin-top: 2px;
    background-color: #08080880;
    color: rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    user-select: none;
}

ul#chatroom-nav-list > li.chats-alert {
    color: rgb(252, 216, 17);
}

ul#chatroom-nav-list > li.current-room {
    background-color: #333333;
    color: white;
}

ul#chatroom-nav-list > li:hover {
    background-color: #484848;
    color: white;
    transition-duration: 500ms;
}

ul#chatroom-nav-list > li.chats-alert:hover {
    background-color: #484848;
    color: rgb(255, 180, 118);
    transition-duration: 500ms;
}